{% extends 'base.html.twig' %}

{% block title %}
    Second Page
{% endblock %}

{% block body %}
    <h3>A propos ! </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis consequatur culpa ducimus eos eveniet
        fugiat incidunt ipsa iure pariatur placeat provident quibusdam quis reiciendis vel veritatis vitae? Nostrum,
        veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis consequatur culpa ducimus eos eveniet
        fugiat incidunt ipsa iure pariatur placeat provident quibusdam quis reiciendis vel veritatis vitae? Nostrum,
        veritatis.</p>
{% endblock %}
