{% extends 'wish/base_wish.html.twig' %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    <h3>Auteur : {{ wish.author }}</h3>
    <p>Description : {{ wish.description }}</p>
    <p>Categorie : {{ wish.category.name }}</p>
{% endblock %}

{% block title %}
    Details
{% endblock %}

